@using GoogleSlides_Gen.Models;
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Google Slide Gen Tool</h1>
</div>

<form>
    @{int count = 1;}
    @for(int i = 1; i<count; i++)
    {
        
    }
    <a class="btn">add more date ranges</a> @*add js to inc count *@
</form>

<div class="justify-content-center">
   <a class="btn">Submit</a>
</div>


<script src="~/js/slides.js"/>