@using GoogleSlides_Gen.Models;
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    int count = 1;
}

<div class="text-center mb-4">
    <h1>Google Slide Gen Tool</h1>
</div>
<div class="mx-auto text-center">
    <div class="mb-4">    
        <form>
            @for(int i = 1; i<count+1; i++)
            {
             <div class="row col-2 mx-auto mb-4">
                <div class="mb-2">
                    <h3>date range @i :</h3>
                    <label for="dateOne">Start Date</label>
                    <input type="date" id="dateOne" name="dateOne"></input>
                </div> 
                <div class="mb-2">
                    <label for="dateTwo">End Date </label>
                    <input type="date" id="datTwo" name="dateTwo"></input>
                </div>
             </div>
            }
            <div class=" row col-2 mx-auto mb-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Exclude Holidays: election day, MLK  Jr day, presidents day, good friday 
                </label>
            </div>                
        </form>
        <div class="form-check">

        <a class="btn btn-outline-dark" onclick="@(count++);>
            add more date ranges
        </a> 
    </div>  

    <a class="btn btn-outline-dark" asp-controller="home" asp-action="">Submit</a>

</div>

<script src="~/js/slides.js"/>