@using GoogleSlides_Gen.Models;
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Google Slide Gen Tool</h1>
</div>
<form>
    <asp-for > </asp-for>
 
</form>


<script src="~/js/site.js"/>