@using GoogleSlides_Gen.Models;
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Google Slide Gen Tool</h1>
</div>

<form>

 
</form>

<div class="justify-content-center">
   <a class="btn">Submit</a>
</div>


<script src="~/js/site.js"/>