@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This site is on your local machine and the creator has no access to your info. But this program does utilize the google API
    as well as the NuGet google library packet managers.
</p>
